/*Logo*/
.navbar{
    padding-left: 35px;
    padding-right: 35px;
}
/*primer bloque de articulo*/
.text-principal{
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEFAFF;
}
.div-text{
    width: 80%;
}
section{
    margin-bottom: 90px;
}
/*segundo bloque de articulos*/
.principal-articulos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}
.div-articulos{
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1200px;


}
.tarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}